<div class="container main-container">
    <div class="card">
        <div class="card-header">
            <h4>Contato</h4>
        </div>
        <div class="card-body">
            <div class="card-title">
                <h3>Deseja saber mais informações?</h3>
                <p>Por favor, entre em contato conosco!</p>
                <br>
                <small><b>Telefone:</b> (22)99908-1298</small>
                <br>
                <small><b>Endereço:</b> Rua Prefeito Antônio Curvelo Benjamim, 734 - Visconde de Araújo/Macaé</small>
            </div>
        </div>
    </div>
</div>