
<div class="container main-container">
    <div class="card">
        <div class="card-header">
            <h4>Quer saber mais sobre nós?</h4>
        </div>
        <div class="card-body">
            <div class="row d-flex align-items-center">
                <div class="col-md-5 ml-3">
                    <img src="../../../assets/images/frentelojacarrosel.jpg" alt="imagemUrl" height="500px" width="500px">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="text-center mt-5">
                        <h1 class="text-primary"><b>O Ínicio da JGM Bike</b></h1>
                    </div>
                    <div style="margin-top: 80px;">
                        <p style="font-size: 20px;" class="text-justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae dui nisi. Nunc felis massa, convallis quis suscipit at, hendrerit sit amet nunc. Cras scelerisque mattis neque, in viverra urna varius ac. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                            Cras id neque neque. Integer laoreet risus id aliquet ornare. Nulla ornare ultrices placerat. 
                            In hendrerit aliquam risus, vehicula auctor nisl condimentum et. Aliquam pharetra ac tellus vel lacinia. 
                            Fusce sit amet tortor quis eros ullamcorper aliquam. 
                            Donec sollicitudin, felis at auctor varius, diam nulla bibendum urna, a ornare turpis neque ac massa.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
